*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: unset;
}

.body{
    margin: 10px;
    background-color: #1e1d1d;
}

.mobile-container{
    
    margin: 0 auto ;
    width: 100%;
    max-width: 400px;
    background-color: black;
    color: rgb(178, 120, 233);
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border-radius: 20px;
    border: .1px solid #444242;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 2px solid #d7d3d3;
    object-fit: cover;
    object-position:  top ;
    margin-top: 20px;
    
    
}

.profile-image {
    text-align: center;
    
    
}

.name{
    font-size: 24px;
    text-align: center;
}

.designation{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    
}

.company-name{
    text-align: center;
    color: #b4b0b0;
    font-weight: 300;
    font-size: 14px;
}

.experience{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px; 
    font-weight: bold;
    
}

.experience-info{
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: #1e1d1d;
    font-size: 14px;

}

.experience i {
    color: #fff;
    font-size: 15px;
}

.experience-info span{
    color: #bfbaba;
}

.about-me{
    border: 1px solid #2b2929;
    color:  #969393;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    margin: 0 20px;
}

.contact-info-wr {    
}

.contact-info {
    font-size: 15px;
    margin-bottom: 10px;
}
   
.contact-info i {
    font-size: 20px;
}


.contact-type{
    color: #a59f9f;
    font-weight: bold;
    font-size: 12px;
    background-color: #1e1d1d;
    border: 1px solid #2b2929;
    border-radius: 15px;
    padding: 8px;
    margin: 10px;  
    
   
    
}

.contact-type .ph {
    font-size: 20px;    
}


.technical-skills{
    font-size: 15px;
}

.skills-wr{
    text-align: start;
    
}

.skills{
    color: rgb(208, 173, 240);
    font-weight: bold;
    font-size: 10px;
    background-color: #1e1d1d;
    border: 1px solid #2b2929;
    border-radius: 15px;
    padding: 10px ;
    margin: 8px;  
    display: inline-flex;
    
    align-items: center;
    gap: 5px;
    
    


}

