*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: unset;
}

.body{
    color: #000;
    border: 5px solid;
    margin: 10px;
    background-color: #000;
}

.mobile-container{
    margin: 0 auto ;
    width: 100%;
    max-width: 400px;
    background-color: black;
    color: rgb(187, 132, 239);
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border-radius: 20px;
    border: 0.02px solid #fff;
}

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 5px solid;
    
    
}

.profile-image {
    text-align: center;
    
    
}

.name{
    font-size: 24px;
    text-align: center;
}

.designation{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    
}

.company-name{
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.experience{
    display: flex;
    gap: 10px;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    
}

.experience-info{
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #2f2d2d;

}

.experience i {
    color: #fff;
}

.experience-info span{
    color: #bfbaba;
}

.about-me{
    border: 1px solid;
    color:  #bfbaba;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 10px;
}

.contact-info{

    
}

.contact-type{
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    background-color: #2f2d2d;
    border-radius: 15px;
    padding: 10px;
    display: block;
    margin: 10px;
    gap: 10px;
    
}

.contact-type i .ph{
    font-size: 40px;
}
